<%= form_for(property, class: "noo-form property-form") do |f| %>
  <% if property.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(property.errors.count, "error") %> prohibited this property from being saved:</h2>
      <ul>
      <% property.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.hidden_field :user_id %>
  <div class="noo-control-group">
    <div class="group-title">Cadastrar Imueble</div>
    <div class="group-container row">
      <div class="col-md-8">
        <div class="form-group s-prop-title">
          <label for="title">Titulo&nbsp;&#42;</label>
          <%= f.text_field :name, class: "form-control", autofocus: true %>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group s-prop-area">
          <label for="area">Area&nbsp;(m²)</label>
          <%= f.text_field :area, class: "form-control" %>
        </div>
      </div>
			<div class="col-md-12">
			  <div class="form-group s-prop-desc">
			  	<label for="textarea">Description&nbsp;&#42;</label>
			  	<%= f.text_area :description, rows: 10 %>
			  </div>
			</div>
      <div class="col-md-8">
        <div class="form-group s-prop-price row">
          <div class="price col-md-4">
            <label for="price">Price&nbsp;&#42;&nbsp;(&#36;)</label>
            <%= f.text_field :price, class: "form-control" %>
          </div>
          <div class="price_label col-md-8">
		          <label>Type</label>
		          <div class="dropdown label-select">
		            <%= f.collection_select :property_type_id, PropertyType.where(status: true), :id, :name, {prompt: 'Selecione lo Tipo de Imueble'}, {class: "form-control"} %>
		          </div>
		        </div>          
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group s-prop-status">
          <label>Interese</label>
          <div class="dropdown label-select">
						<%= f.select :interest, ( [["Venta", 0],
                ["Alquiler", 1]]), {}, {class: "form-control"} %>          
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group s-prop-bedrooms">
          <label for="bedrooms">Habitaciones</label>
          <%= f.text_field :bed_rooms, class: "form-control" %>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group s-prop-bathrooms">
          <label for="bathrooms">Baños</label>
          <%= f.text_field :bath_rooms, class: "form-control" %>
        </div>
      </div>
    </div>
  </div>

  <div class="noo-control-group">
  	<div class="group-title">Imagens</div>
    <div class="group-container row">
      <div class="col-md-12">
        <div id="upload-container">
          <div id="aaiu-upload-container">
            <div class="moxie-shim moxie-shim-html5">
              <label for="input-upload" class="btn btn-secondary btn-lg">Select Images</label>
              <input id="input-upload" type="file" multiple="" accept="image/jpeg,image/gif,image/png">
            </div>
            <p>Al menos 1 imagen se requiere para una presentación válida. La imagen ofrecida se utiliza para dispaly en la página listado de propiedad.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="noo-control-group">
    <div class="group-title">Direción</div>
    <div class="group-container row">
      <div class="col-md-8">
        <div class="form-group s-prop-address">
          <label for="address">Address&nbsp;&#42;</label>
          <textarea id="address" class="form-control" name="address" rows="1" required=""></textarea>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group s-prop-location">
          <label>Location</label>
          <div class="dropdown label-select">
						<select class="form-control">
						  <option>New Jersey</option>
						  <option>New York</option>
						</select>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group s-prop-lat">
          <label for="_noo_property_gmap_latitude">Latitude (for Google Maps)</label>
          <input type="text" id="_noo_property_gmap_latitude" class="form-control" value="-25.4812685" name="lat">
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group s-prop-long">
          <label for="_noo_property_gmap_longitude">Longitude (for Google Maps)</label>
          <input type="text" id="_noo_property_gmap_longitude" class="form-control" value="-54.6240069" name="long">
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group s-prop-sub_location">
          <label>Sub Location</label>
          <div class="dropdown label-select">
						<select class="form-control">
						  <option>Central New York</option>
						  <option>GreenVille</option>
						  <option>Long Island</option>
						  <option>New York City</option>
						  <option>West Side</option>
						</select>
          </div>
        </div>
      </div>
      <div class="col-md-12">
      
				<div class="noo_property_google_map">
				  <div id="noo_property_google_map" class="form-group noo_property_google_map" style="height: 300px; margin-top: 25px; overflow: hidden;position: relative;width: 100%;">
				  </div>
				  <div class="noo_property_google_map_search">
				    <input placeholder="Search your map" type="text" autocomplete="off" id="noo_property_google_map_search_input">
				  </div>
				</div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="noo-control-group small-group">
        <div class="group-title">Mas Opciones</div>
        <div class="group-container row">
          <% @options.each do |c| %>          
            <div class="col-md-6">
              <div class="form-group s-prop-_noo_property_feature_attic">
                <input type="hidden" name="noo_property_feature[attic]" class="" value="0">
                <label for="_noo_property_feature_attic" class="checkbox-label">
                  <%= check_box_tag "property[option_ids][]", c.id, property.options.include?(c) %> <%= c.name %>  <i></i>
                </label>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="noo-submit row">
    <div class="col-md-12">

      <%= f.submit "ADD Imueble", class: "btn btn-lg rounded metro btn-primary" %>
    </div>
  </div>
<% end %>