<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %><div class="noo-mainbody-inner">
  <div class="row clearfix">
    <!--START MAIN CONTENT -->
    <div class="noo-content col-xs-12">
      <div class="page-content row">
        <div class="col-md-12">
          <div class="noo-logreg both">
          <div class="logreg-container">
            <div class="row clearfix logreg-content">
             <div class="col-md-6 login-form">
              </div>
              <div class="col-md-6 register-form">
                <form name="registerform" id="registerform" method="post" role="form">
                  <div class="logreg-title">Entrar</div>
                  <div class="form-message"></div>
                  <div class="logreg-content">
                    <div class="form-group">
                      <label for="user_login" class="sr-only">E-mail</label>                      
                      <%= f.email_field :email, autofocus: true, placeholder: 'E-mail *', class: 'form-control' %>
                    </div>
                    <div class="form-group">
                      <label for="user_email" class="sr-only">Contra-Senha</label>
                      <% if @minimum_password_length %>
                      <em>(<%= @minimum_password_length %> characters minimum)</em>
                      <% end %><br />
                      <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
                    </div>
                  </div>
                  <div class="logreg-action">
                      <%= f.submit "Log in", class: "btn navbar-btn" %>
                      <%= render "devise/shared/links" %>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
        </div>
      </div>        
    </div>        
    <!-- END MAIN CONTENT -->
  </div>
</div>
<% end %>
